<style>
		body{
			margin: 0;
			padding: 0;
			background-color: orange;
		}
		#box1{
			background-color: lightblue;
			padding: 10px 10px 10px 10px;
			border: 5px solid white;
			margin:40px;
			width:500px;

		}
		#content1{
			background-color: #95FF95;
		}
		h1{
			margin-bottom: 30px;
		}
		#box2{
			background-color: gray;
			float:right;
			padding: 10px 10px 10px 10px;
			border: 5px solid white;
			margin:40px;
			width:500px;

		}
		#content2{
			background-color: #80AA80;
		}
	</style>
